### Datatype

In [1]:
# Numeric Datatype

# Integer
a = 10

# Float
b = 3.142

# Complex (a + bi where 'a' and 'b' are floats)
c = 6 + 10j
print(a, b, c)

10 3.142 (6+10j)

In [2]:
# Type Conversion

print(int(b), float(a), str(c))

3 10.0 (6+10j)

In [3]:
# List (Mutable)

my_list = ["3", "10.26", "cherry"]
print(my_list)

['3', '10.26', 'cherry']

In [4]:
# Tuples (Immutable)

my_tuple = ("3", "10.26", "cherry")
print(my_tuple)

('3', '10.26', 'cherry')

In [5]:
# Dictionary (Mutable -> Values can be changed, Keys connot be changed)

my_dict = {
    "brand": "Ford",
    "model": "Mustang",
    "Year": "2022"
}

print(my_dict)

{'brand': 'Ford', 'model': 'Mustang', 'Year': '2022'}

In [6]:
# Sets
# Does not support duplicates

a = {1, 2, 3, 4, 4, 4}
b = {3, 4, 5, 6}

print(a, b)

{1, 2, 3, 4} {3, 4, 5, 6}

### Operators

In [7]:
# Arithmetic Operators

x = 15
y = 2

# Addition
print(x + y)

# Subtraction
print(x - y)

# Multiplication
print(x * y)

# Division
print(x / y)

# Modulus
print(x % y)

# Exponential
print(x ** y)

# Floor Division
print(x // y)

17
13
30
7.5
1
225
7

In [8]:
# Assignment Operators

x = 2
print(x)

x += 2
print(x)

x -= 3
print(x)

x *= 3
print(x)

x /= 3
print(x)

x %= 3
print(x)

x **= 3
print(x)

x //= 3
print(x)

2
4
1
3
1.0
1.0
1.0
0.0

In [9]:
# Comparison Operators

x = 5
y = 3

print(x == y)
print(x != y)
print(x <= y)
print(x >= y)
print(x < y)
print(x > y)

False
True
False
True
False
True

In [10]:
# Identity Operators

x = ["white", "black"]
y = ["white", "black"]

z = x

# x and z have same memory location
print(x is z)
print(x is y)
print(x == y)

True
False
True

In [11]:
# Membership Operators

x = ["white", "black"]
print("white" in x)
print("red" not in x)
print("red" in x)

True
True
False

### Loops

In [12]:
# while Loop

i = 1
while i < 6:
    print(i)
    if i == 3:
#       break
        break
    i += 1

1
2
3

In [13]:
# continue

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [14]:
# for Loop

colors = ["white", "black", "red"]
for x in colors:
    print(x)

white
black
red

In [15]:
# Strings are Iterable

for y in "mayank":
    print(y)

m
a
y
a
n
k

In [16]:
# break (for loop)

colors = ["white", "black", "red"]
for x in colors:
    print(x)
    if(x == "black"):
        break

white
black

In [17]:
# continue (for loop)

colors = ["white", "black", "red"]
for x in colors:
    if x == "black":
        continue
    print(x)

white
red

In [18]:
# range function

for x in range(8):
    print(x)

0
1
2
3
4
5
6
7

In [19]:
for x in range(3, 8):
    print(x)

3
4
5
6
7

### Python Functions

In [20]:
# Creating a Function
def my_function():
    print("Hello!")
    
# Calling the function
my_function()

Hello!

In [21]:
# Arguments

def my_function(fname):
    print("Hello, " + fname)
    
my_function("Mayank")

Hello, Mayank

### Some Basic Python Programs

In [22]:
!python --version

Python 3.8.8

In [23]:
# Display Python version

import sys
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [24]:
# Display Current Date and Time

import datetime

now = datetime.datetime.now()
print("Current Date and Time:", now)
print(now.strftime("%d-%m-%Y %H:%M:%S"))

Current Date and Time: 2022-02-08 09:40:41.638404
08-02-2022 09:40:41

In [25]:
# Calculate area of circle

from math import pi

radius = float(input())
print("Radius: " + str(radius) + ", Area: {:.2f}".format(pi * radius ** 2))

7
Radius: 7.0, Area: 153.94

In [26]:
fname = input("Enter your first name: ")
lname = input("Enter your last name: ")
print("Hi " + lname + " " + fname)

Enter your first name: Mayank
Enter your last name: Arora
Hi Arora Mayank

In [27]:
# Python program that accepts int(n) and computes value n+nn+nnn
# 4 + 44 + 444 = 492

n = int(input())
n1 = int("%s" %n)
n2 = int("%s%s" % (n, n))
n3 = int("%s%s%s" % (n, n, n))

print(n1 + n2 + n3)

4
492

In [28]:
# Python program to display first and last colors from list

colours = ["red", "black", "white", "blue", "yellow", "orange"]
print(colours[0])
print(colours[-1])

red
orange

In [29]:
# Show tomorrows' date

from datetime import datetime
from dateutil.relativedelta import relativedelta

date_today = datetime.now().date()
next_date = date_today + relativedelta(days=+1)

print(next_date)

2022-02-09

In [30]:
# Print extension of file

file = input()
extension = file.split(".")
print(extension[-1])

1.docx
docx

### Python Functions

In [35]:
# abs()

# Integer
integer = -20
print(abs(integer))

# Float
floating = -9.4
print(abs(floating))

# Complex
cn = 7 + 10j
# sqrt(square(7) + square(10))
print(abs(cn))

20
9.4
12.206555615733702

In [57]:
# all()

ls = [1, 2, 3, 4]
print(all(ls))

ls = [0, False]
print(all(ls))

ls = [1, 0, 9]
print(all(ls))

ls = [1, -2, 9]
print(all(ls))

ls = []
print(all(ls))

True
False
False
True
True

In [39]:
# bin()

x = 10
print(bin(x))

0b1010

In [40]:
# exec()

x = 8
exec('print(x == 8)')
exec('print(x + 4)')

True
12

In [41]:
# sum()

ls = [1, 2, 3]
print(sum(ls))

6

In [56]:
# any()

ls = [1, 2, 3, 4]
print(any(ls))

ls = [0, False]
print(any(ls))

ls = [1, 0, 9]
print(any(ls))

ls = [1, -2, 9]
print(any(ls))

ls = []
print(any(ls))

True
False
True
True
False

In [65]:
# format()

# Integer
print(format(28, "d"))

# Float
print(format(2.8, "f"))

# Binary
print(format(28, "b"))

# Octal
print(format(28, "o"))

print(format(28, "x"))

28
2.800000
11100
34
1c

In [66]:
# len()

string = "Mayank"
print(len(string))

6

In [75]:
# list()

# String
string = "Mayank"
print(list(string))

# Tuple
t = (1, 2, 3, 4, 5, 6)
print(list(t))

['M', 'a', 'y', 'a', 'n', 'k']
[1, 2, 3, 4, 5, 6]

In [76]:
# divmod

print(divmod(10, 2))

(5, 0)